body {
    font-family: Arial, sans-serif;
    background-color: #d3d3d3;
    color: #333;
}

h1 {
    color: #000080;
}

.recipe-container {
    background-color: rgb(248, 248, 247);
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: left; 
    max-width: 600px;
}

